<div class="page-header">
  <h2>New channel</h2>
</div>

<div class="row">
  <div class="span4 columns">
    <p>
    Channels define a stack of applications. Usualy from developement to production systems.
    You shouls define at least one channel for your project to track application evolution
    Channels are composed of environments.
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>


