<div class="page-header">
  <h2>Listing applications</h2>
</div>


<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application_path(@application) %></td>
        <td><%= link_to 'Edit', edit_application_path(channel) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well">
  <%= link_to 'New application', new_application_path, :class => "btn primary" %>
</div>
