<div class="page-header">
  <h2>New application for channel <%= @channel.name %></h2>
</div>



<div class="row">
  <div class="span4 columns">
    <p>
    description goes here
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>




