<div class="page-header">
  <h2>Listing deliveries</h2>
</div>

<% @grouped.each do |environment, deliveries| %>
  <h3><%= environment.name %></h3>
  <table>
    <thead>
      <tr>
        <th>Project</th>
        <th>Version</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.version.project.name %></td>
          <td><%= delivery.version.version %></td>
          <td><%= delivery.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

