<div class="page-header">
  <h2>New project</h2>
</div>



<div class="row">
  <div class="span4 columns">
    <p>
    Create your new fancy developemnt project here and track his status over the time
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>




