<h1>New project</h1>

<div class="row">
  <div class="span4 columns">
    <p>
    Create your new fancy developemnt project here and track his status over the time
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>




