<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<%= link_to "New Delivery", new_project_delivery_path(@project), :class => "btn" %>

<% if @project.deliveries.any? %>

<% else %>
  <p>No deliveries for this project</p>
<% end %>

<p id="notice"><%= notice %></p>

