<tr>
  <td>
    <%= application.environment.name %>
  </td>
  <td>
    <% if @deliveries[:application] %>
      
    <% else %>
      <%= simple_form_for(Delivery.new,
                          :url => project_version_deliveries_path(@project.id, @version.id)) do |f| %>
        <%= f.button :submit, :value => "Create", :class => "btn primary" %>
      
      <% end %>
    <% end %>
  </td>
</tr>