<div class="page-header">
  <h2>New version for <%= @project.name %></h2>
</div>



<div class="row">
  <div class="span4 columns">
    <p>Version represent each evolution of a project. It can be bug fix patches or new feature. 
      But each time you change somthing in your project and you want to deliver it you should create a version.
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>

