<div class="page-header">
  <h2>New environment</h2>
</div>

<div class="row">
  <div class="span4 columns">
    <p>
    Environement are the base building block of channels. Environement are simply a full application.
    </p>
  </div>
  <div class="span12 columns">
    <%= render 'form' %>
  </div>
</div>


